@import "../../css/general";
.brands-section {
  background: white;
  text-align: center;
  padding: 25px;
  h2 {
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 30px;
    span {
      color: $colorMainRegular;
    }
  }
}
.brands-list {
  max-width: 1200px;
  margin: 15px auto;
  text-align: center;
  li {
    list-style: none;
    display: inline-flex;
    img {
      margin: 5px;
      max-width: 150px;
    }
    .color-name {
      font-size: 1.2rem;
      line-height: 1.1;
      font-weight: 800;
      display: block;
    }
    .brand-name {
      font-size: 0.7rem;
      color: #717171;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .03rem;
      line-height: 1.2;
      display: block;
    }
  }
}
